\documentclass{article}

\usepackage{tikz}
\usepackage{verbatim}
\usepackage{xcolor}

\usetikzlibrary{arrows,shapes}

\begin{document}

\pgfdeclarelayer{background}
\pgfsetlayers{background,main}

\tikzstyle{vertex}=[circle,minimum size=20pt,inner sep=0pt]
\tikzstyle{selected vertex} = [vertex, fill=red!24]
\tikzstyle{edge} = [draw,thick]
\tikzstyle{weight} = [font=\small]
\tikzstyle{backwardEdgeLabel} = [font=\small, very near start, sloped, above]
\tikzstyle{forwardEdgeLabel} = [font=\small, very near end, sloped, below]

#foreach( $color in $colors )
\definecolor{color$foreach.index}{RGB}$color
#end


#foreach( $step in $steps )
    $step
\clearpage

#end

\end{document}