\begin{figure}
\textbf{$figureTitle}\par\medskip
\begin{tikzpicture}[scale=1.8, auto,swap]

\foreach \pos/\name/\label/\color/\weight in {
#foreach( $vertex in $vertices )
    #set($separator = "#if($foreach.hasNext),#{else}}#end")
{($vertex.posX,$vertex.posY)/$vertex.vertexNo/${vertex.vertexNo}_{$vertex.origVertexNo}/$vertex.color}$separator
#end
\node[vertex,fill=\color!\weight] (\name) at \pos {$\label$};

\foreach \source/ \dest/ \col/ \style/ \backwardEdgeLabel/ \forwardEdgeLabel  in {
#foreach( $edge in $edges )
    #set($separator = "#if($foreach.hasNext),#{else}}#end")
    $edge.originNo/$edge.endpointNo/$edge.color/$edge.style/{$!{edge.backwardEdgeLabel}}/{$!{edge.forwardEdgeLabel}}$separator
#end
\path[edge,\col,\style] (\source) -- node[backwardEdgeLabel] {$\backwardEdgeLabel$} node[forwardEdgeLabel] {$\forwardEdgeLabel$} (\dest);

\end{tikzpicture}
\end{figure}


